@font-face {
  font-family: "alarm clock";
  src: url("alarm-clock.ttf");
}

body {
  background-color: #000;
  color: #fff;
}

main {
  width: 300px;
  background-color: #080;
  border-radius: 20px;
  font-family: "alarm clock", monospace;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 0 5px;
}
